tr {
    height: calc((70vh / 6));
}

td {
    font-size: 10px;
    text-align: center;
    width: calc(80vw / 7);
}

body {
    text-align: center;
}

#monthLabel {
    text-align: center;
    height: 8vh;
}