tr {
    height: calc((70vh / 6));
}

td {
    font-size: 10px;
    width: calc(80vw / 7);
    vertical-align: top;
}

#monthLabel {
    text-align: center;
    height: 8vh;
}

.off-month {
    background-color: #F5F5F5;
}

.dayNumber {
    display: inline-block;
}

.event {
    text-align: center;
    display: inline-block;
    background-color: #DDF;
    width: 80%;
    float: right;
    margin: 2px 5px 5px 0px;
    font-size: 12px;
}