{% extends 'base.html' %}

{% block head %}
    <head>
        <title>Dashboard</title>
    </head>
    <script type="text/javascript" src="{{url_for('static', filename='js/createEvent.js')}}"></script>
{% endblock %}

{% block content %}
<h1 align="center">Event Creator</h1>
{% if invalid == True %}
    <div style="text-align: center;">{{err.message}}</div>
{% endif %}
<form id="eventForm" method="POST" align="center">
    <table id="creationTable">
        <tr>
            <th>Event Type</th>
            <td><input type="checkbox" name="type" value="Food">Food
            <input type="checkbox" name="type" value="Alcohol">Alcohol
            <input type="checkbox" name="type" value="Hackathon">Hackathon</td>
        </tr>
        <tr>
            <th>Event Title</th>
            <td><input type="text" name="title" placeholder="Event title"
             value="{{form['title']}}" autocomplete="off" required/></td>
        </tr>
        <tr>
            <th>Venue</th>
            <td><input type="text" name="venue" placeholder="Venue"
             {% if form['type'] == "seminar" %} class="semDisable formDisabled" readonly="true" {% else %} class="semDisable" required {% endif %}
             value="{{form['venue']}}" autocomplete="off" required/></td>
        </tr>
        <tr>
            <th>Event Date</th>
            <td><input type="text" name="eventdate" placeholder="yyyy/mm/dd"
             {% if form['type'] == "seminar" %} class="semDisable formDisabled" readonly="true" {% else %} class="semDisable" required {% endif %}
             value="{{form['eventdate']}}" autocomplete="off" /></td>
        </tr>
        <tr>
            <th>Event Time</th>
            <td><input type="text" name="eventtime" placeholder="hh:mm"
             {% if form['type'] == "seminar" %} class="semDisable formDisabled" readonly="true" {% else %} class="semDisable" required {% endif %}
             value="{{form['eventtime']}}" autocomplete="off" /></td>
        </tr>
    </table>
    <button type="submit" name="bt">Create Event</button>
</Form>
{% endblock %}