{% extends 'base.html' %}
{% block content %}
<h1>Add Event</h1>
<form method='POST' action="addEvent">
    <label>Name</label><br>
    <input type='text' name='name'><br>
    <label>Date and Time</label><br>
    <input type='datetime-local' name='data_time'><br>
    <label>Location</label><br>
    <input type='text' name='location'><br>
    <label>Tags</label><br>
    <input type="checkbox" name="type" value="Food">Food<br>
    <input type="checkbox" name="type" value="Alcohol">Alcohol<br>
    <input type="checkbox" name="type" value="Seminar">Seminar<br>
    <input type="checkbox" name="type" value="Workshop">Workshop<br>
    <input type="checkbox" name="type" value="Charity">Charity<br>
    <input type="checkbox" name="type" value="Physical">Physical<br>
    <input type="checkbox" name="type" value="Entertainment">Entertainment<br>
    <input type='submit' value='Add Event'><br>

</form>
{% endblock %}