{% extends 'base.html' %}

{% block head %}
    <head>
        <title>Session Creater</title>
    </head>
{% endblock %}

{% block content %}
<h1 align="center">Session Creator</h1>
{% if invalid == True %}
    <div style="text-align: center;">{{err.message}}</div>
{% endif %}
<form id="eventForm" method="POST" align="center">
    <table id="creationTable">
        <tr>
            <th>Session Name</th>
            <td><input type="text" name="name" placeholder="Session Name" value="{{form['name']}}" autocomplete="off" required/></td>
        </tr>
        <tr>
            <th>Speaker Name</th>
            <td><input type="text" name="speaker" placeholder="Speaker Name" value="{{form['speaker']}}" autocomplete="off" required/></td>
        </tr>
        <tr>
            <th>Venue</th>
            <td><input type="text" name="venue" placeholder="Venue" value="{{form['venue']}}" autocomplete="off" required/></td>
        </tr>
        <tr>
            <th>Venue Capacity</th>
            <td><input type="text" name="cap" placeholder="Capacity" value="{{form['cap']}}" autocomplete="off" required/></td>
        </tr>
        <tr>
            <th>Session Date</th>
            <td><input type="text" name="date" placeholder="yyyy/mm/dd" value="{{form['date']}}" autocomplete="off" required/></td>
        </tr>
        <tr>
            <th>Session Time</th>
            <td><input type="text" name="time" placeholder="hh:mm" value="{{form['time']}}" autocomplete="off" required/></td>
        </tr>
        <tr>
            <th>Deregistration Date</th>
            <td><input type="text" name="dereg" placeholder="yyyy/mm/dd" value="{{form['dereg']}}" autocomplete="off" required/></td>
        </tr>
    </table>
    <button type="submit" name="bt">Create Session</button>
</form>
{% endblock %}