{% extends 'base.html' %}

{% block head %}
    <head>
        <title>Dashboard</title>
    </head>
{% endblock %}


{% block content %}

<h1 id="dashboardTitle">My Dashboard</h1>

<!-- Display the users enrolled events -->
<div id="eventHolder">
    <div id="openDisplay" class="eventDisplay">
        <h2 class="displayTitle">Open Events</h2>
        <div class="eventContainer">
            {% for event in events %}
                {% if event.checkOpen() and event.canDisplay() %}
                    {{disp(event)|safe}}
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div id="closedDisplay" class="eventDisplay">
        <h2 class="displayTitle">Closed Events</h2>
        <div class="eventContainer">
            {% for event in events %}
                {% if event.checkClosed() and event.canDisplay() %}
                    {{disp(event)|safe}}
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div id="cancelDisplay" class="eventDisplay">
        <h2 class="displayTitle">Cancelled Events</h2>
        <div class="eventContainer">
            {% for event in events %}
                {% if event.checkCancelled() and event.canDisplay() %}
                    {{disp(event)|safe}}
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {% if user.is_guest() %}
        {% set e = sys.getSpeakerSeminars(user) %}
        {% if e|length > 0 %}
            <div id="speakerDisplay" class="eventDisplay">
                <h2 class="displayTitle">Upcoming Presentations</h2>
                <div class="eventContainer">
                    {% for event in e %}
                        {% if event.canDisplay() %}
                            {{disp(event)|safe}}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    {% endif %}
</div>

{% endblock %}