{% extends 'base.html' %}

{% block head %}
<head>
    <title>{{event.title}}</title>
    <script type="text/javascript" src="{{url_for('static', filename='js/event.js')}}"></script>
</head>
{% endblock %}
<!-- needs to show
    - title
    - date
    - dereg date
    - venue
    - option to unregister
    - curr attendees if owner
    - status
    - Display confirmation on successful joining/leaving
 -->
{% block content %}
    {% if conf %}
        <script type="text/javascript">
            {% if event.isSeminar() %}
                notifySeminar("{{conf}}", {{cost}});
            {% else %}
                notifyCourse("{{conf}}", {{cost}});
            {% endif %}
        </script>
    {% endif %}
    <div class="eventInfo">
        {% set eDate = event.date %}
        {% set dDate = event.deregDate %}
        <table style="width: 20%; text-align: center;">
            <tr><th colspan="2" id="tableTitle">{{event.title}}</th></tr>
            {% if current_user.is_guest() or user == event.owner and event.cost > 0 %}
                {% if event.cost > 0 %}
                    <tr>
                        <th>Registration Cost:</th>
                        <td>${{event.cost}}</td>
                    </tr>
                    <tr>
                        {% set ebDate = event.earlyBird %}
                        <th>Discount End:</th>
                        <td>{{"{:0>2}/{:0>2}/{:0>2}".format(ebDate.day, ebDate.month, ebDate.year)}}</td>
                    </tr>
                {% endif %}
            {% endif %}
        {% if event.isSeminar() %}
            </table>
            </br>
            <h3>Seminar Sessions</h3>
            <form action="" method="POST">
                {% for session in event.sessions %}
                    <div>
                        {% set sDate = session.sessionTime %}
                        {% set attendees = sys.manager.getSessionAttendees(session.ID) %}
                        <div class="seminarAccordian">
                            <div class="accordian">{{session.title}}</div>
                            <table class="panel" style="margin-top: 0px;">
                                <tr><th>Speaker:</th><td>{{session.speaker}}</td></tr>
                                <tr><th>Venue:</th><td>{{session.venue}}</td></tr>
                                <tr><th>Date:</th><td>{{"{:0>2}/{:0>2}/{:0>2}".format(sDate.day, sDate.month, sDate.year)}}</td></tr>
                                <tr><th>Time:</th><td>{{"{:0>2}:{:0>2}".format(sDate.hour, sDate.minute)}}</td></tr>
                                <tr><th>Capacity:</th><td>{{session.currCap}}/{{session.maxCap}}</td></tr>
                            </table>
                            {% if user == event.owner %}
                                <br>
                                {% if attendees|length > 0 %}
                                    <div class="accordian">Attendees</div>
                                    <ul class="panel">
                                        {% for a in attendees %}
                                            <li>{{sys.getUserById(a).username}}</li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    <div>No Attendees</div>
                                {% endif %}
                            {% endif %}
                        </div>
                        {% if event.checkOpen() and user != event.owner %}
                            {% if current_user.get_id() not in sys.manager.getSessionAttendees(session.ID) %}
                                {%  if session.isFull() == False %}
                                <button type="submit" name={{'joinSession'}} value={{'{}'.format(session.ID)}} class="button eventbutt">Join Session</button>
                                {% endif %}
                            {% elif session.checkDereg() %}
                                <button type="submit" name={{'leaveSession'}} value={{'{}'.format(session.ID)}} class="button eventbutt">Leave Session</button>
                            {% endif %}
                        {% endif %}
                    </div>
                {% endfor %}
            </form>
            {% if user == event.owner and event.checkOpen() %}
                <form action='' method='POST'>
                    <button type="submit" name="addSession" value="addSession" class="eventbutt button">
                        Add Session
                    </button>
                </form>
            {% endif %}
        {% else %}
            <tr><th>Capacity:</th><td>{{event.currCap}}/{{event.maxCap}}</td></tr>
            <tr><th>Venue:</th><td>{{event.venue}}</td><tr>
            <tr><th>Date:</th><td>{{"{:0>2}/{:0>2}/{:0>2}".format(eDate.day, eDate.month, eDate.year)}}</td></tr>
            <tr><th>Time:</th><td> {{"{:0>2}:{:0>2}".format(eDate.hour, eDate.minute)}}</td></tr>
            <tr><th>Deregister by:</th><td> {{"{:0>2}/{:0>2}/{:0>2}".format(dDate.day, dDate.month, dDate.year)}}</td></tr>
            </table>
        {% endif %}
        {% if user == event.owner %}
            {% if event.checkOpen() %}
                <form action='' method='POST'>
                    <button type="submit" name="cancel" value="cancel" class="eventbutt button">
                        Cancel Event
                    </button>
                </form>
            {% endif %}
            {% if sys.manager.getAttendingUsers(event.ID) %}
                <div class="attendeeAccordian">
                    <div class="accordian">Event attendees</div>
                    <ul class="panel">
                    {% for attendee in sys.manager.getAttendingUsers(event.ID) %}
                        <li>{{sys.getUserById(attendee).username}}</li>
                    {% endfor %}
                    </ul>
                </div>
            {% else %}
                <p><b>No Attendees</b></p>
            {% endif %}
        {% endif %}
        {% if event.isSeminar() == False and user != event.owner %}
            {% if user in sys.manager.getAttendingUsers(event.ID) %}
                {% if event.checkOpen() %}
                    {% if event.checkDereg() %}
                        <form action='' method='POST'>
                            <button type="submit" name="dereg" value="dereg" class="eventbutt button">
                                Leave Event
                            </button>
                        </form>
                    {% else %}
                        Deregistration Closed
                    {% endif %}
                {% else %}
                    Event Closed
                {% endif %}
            {% else %}
                {% if event.isFull() %}
                    <p>Event Full</p>
                {% else %}
                    {% if event.checkOpen() %}
                        <form action='' method="POST">
                            <button type="submit" name="join" value="join" class="eventbutt button">
                                Join Event
                            </button>
                        </form>
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endif %}
    </div>
{% endblock %}