<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='stylesheet.css')}}">
        <title>Form</title>
    </head>
    <body style="background-image: url('static/EMS_background.png')">z
        <div id="loginBox">
            <img src="{{url_for('static', filename='UNSW_logo.png')}}">
            <h1>UNSW EMS System</h1>
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                {% for message in messages %}
                  <div>{{ message }}</div>
                {% endfor %}
              {% endif %}
            {% endwith %}
            <Form method="POST">
                <input type="text" name="username" placeholder="Enter your username"/><br>
                <input type="password" name="password" placeholder="Enter your password"/><br>
                <button type="submit" name="bt">Login</button>
            </Form>
            <a href="{{url_for('guestRego')}}"><button>Guest Registration</button></a>
        </div>
    </body>
</html>