{% extends 'base.html' %}

{% block head %}
<head>
<title>Dashboard</title>
</head>
{% endblock %}


{% block content %}

<h1 id="dashboardTitle">Available Events</h1>
<div id="eventHolder">
    <div class="eventDisplay">
        <h2 class="displayTitle">Courses</h2>
        <div class="eventContainer">
            {% for course in ocourses %}
                {% if course.owner != current_user.get_id() and course.canDisplay() %}
                    {{disp(course)|safe}}
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="eventDisplay">
        <h2 class="displayTitle">Seminars</h2>
        <div class="eventContainer">
            {% for seminar in oseminars%}
                {% if seminar.owner != current_user.get_id() and seminar.canDisplay() %}
                    {{disp(seminar)|safe}}
                {% endif %}
            {% endfor%}
        </div>
    </div>
</div>

{% endblock %}