{% extends 'base.html' %}

{% block head %}
    <title>Calendar</title>
    <script type="text/javascript" src="{{url_for('static', filename='calendar.js')}}"></script>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='calendar.css')}}">
{% endblock %}

{% block content %}

    <!-- navbar -->
  <!--   <div class="navbar d-inline-block w-100 h-40" style="background-color: blue">
        <div class="nav-item">For Food's Sake</div>
        <div class="nav-item float-right">Login</div>
    </div> -->

    <nav style="background-color: fuchsia; margin:  10px 0 10px 0;" class="navbar navbar-expand-sm navbar-dark bg-primary"">
  <a class="navbar-brand" style="margin-left: 13px"><b>For Food's Sake</b></a>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item ">
      <a class="nav-link " href="{{ url_for('login') }}">Login</a>
    </li>
  </ul>

    </nav>

    <!-- Calendar Wrapper -->
    <div class="h-80 d-flex flex-row">
        <!-- Left Column -->
        <div class="col-2 d-block" style="background-color: pink"></div>
        <!-- Calendar Space -->
        <div class="col-10 d-block float-right">
            <div class="d-flex flex-row justify-content-around">
                <div onclick="setPrevMonth()" style="display: inline;">GO LEFT</div>
                <div id="monthLabel" style="display: inline;">Month</div>
                <div onclick="setNextMonth()">GO RIGHT</div>
            </div>
            <script type="text/javascript">setMonth(3)</script>
            <table id="calendar" class="table-bordered">
                <tbody>
                    {% for i in range(6) %}
                        <tr>
                        {% for j in range(7) %}
                            <td id="cell-{{i}}-{{j}}"></td>
                            <script type="text/javascript">initialiseCells({{i}}, {{j}})</script>
                        {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div></div>
        </div>
    </div>
{% endblock %}