{% extends 'base.html' %}

{% block head %}
<head>
<title>Your Events</title>
</head>
{% endblock %}


{% block content %}

<h1 id="dashboardTitle">My Events</h1>

<!-- Display the users enrolled events -->
<div id="eventHolder">
    <div id="openDisplay" class="eventDisplay">
        <h2 class="displayTitle">Open Events</h2>
        <div class="eventContainer">
            {% for event in events %}
                {% if event.checkOpen() %}
                    {{disp(event)|safe}}
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div id="closedDisplay" class="eventDisplay">
        <h2 class="displayTitle">Closed Events</h2>
        <div class="eventContainer">
            {% for event in events %}
                {% if event.checkClosed() %}
                    {{disp(event)|safe}}
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div id="cancelDisplay" class="eventDisplay">
        <h2 class="displayTitle">Cancelled Events</h2>
        <div class="eventContainer">
            {% for event in events %}
                {% if event.checkCancelled() %}
                    {{disp(event)|safe}}
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}